* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

a {
    cursor: pointer;
    text-decoration: none;
}


nav#nav-bar {
    display:flex;
    justify-content: space-between;
    height:50px;
    margin-bottom:10px;
}


nav#nav-bar > ul {
    display: flex;
    justify-content:space-between;
    padding:10px;
}


nav#nav-bar > ul > li {
    margin:5px 10px;
}



nav#nav-bar > ul > li > a {
    padding:5px 10px;
    border-radius: 5px;
    font-family:cursive;
    font-weight: bold;
}

nav#nav-bar > ul > li > a:hover {
    background-color:purple;
    color:white;
}

ul {
    list-style-type: none;
}


#container {
    height:550px;
    display: flex;
    justify-content: center;
    border:2px solid green;
    background-color: red;
    background-image: url('/images/tealimage.jpg');
}

#login>div:first-of-type>h2 {
    text-align: center;
    border:2px solid green;
}

#signup>div:first-of-type>h2 {
    text-align: center;
}
