#login {
    margin-top:50px;
    margin-bottom:50px;
    border-radius:5px;
}
#login > div {
    margin:5px 10px;
    padding:10px 25px;
}

#login>div:first-of-type>h2 {
    text-align: center;
    color:rgb(66, 245, 164);
}

#login label {
    margin-left:20px;
}


#login input[type='text'] {
    font-weight: bold;
    font-family: cursive;
    height:30px;
    margin-right:50px;
    border-radius: 5px;
}
#login>div>div {
    display:flex;
    justify-content: space-between;
}

#login>div:last-of-type {
    display: flex;
    justify-content: center;
}

#login>div:nth-last-child(2)>div {
    justify-content: center;
}

#login>div:nth-last-child(2)>div>input {
    padding:10px 25px;
    margin-left:20px;
    margin-right:20px;
    border-radius: 5px;
}

#login>div:last-of-type>button {
    margin:5px 10px;
    padding:10px 25px;
    border-radius:5px;
}


a.cancel-btn, input[type='submit'] {
    border-radius:5px;  
    height: 50px;
    background-color:white;
    border-radius:5px;
    background-color:rgb(66, 245, 164);
    font-weight: bold;
    padding:20px;
}

a.cancel-btn {
    font-weight: bold;
    background-color: red;
}