#signup {
    margin-top:50px;
    padding: 10px 25px;
    margin-bottom:50px;
    border-radius:5px;
}

#signup>div:first-of-type>h2 {
    text-align: center;
    margin:5px 10px ;
    color:rgb(66, 245, 164);
}
#login>div:first-of-type>h2 {
    text-align: center;
}
#signup > div:last-of-type>div {
    justify-content: center;
}
#signup > div > div {
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}

#signup > div > div > label {
    margin-left:20px;
}


#signup>div>div>input[type='text'] {
    margin-right:50px;
    border-radius: 5px;
}
#signup>div>div>input[type='password'] {
    margin-right:50px;
    border-radius: 5px;

}

#signup input {
    height:30px;
    font-weight: bold;
    font-family: cursive;
}


#signup input[type='submit'], #signup input[type='button'] {
    padding:5px;
    width:100px;
    border-radius:5px;

}

#signup input[type='submit'] {
    margin-right:20px;
    height: 50px;
}
#signup a {
    padding:20px;
    height:50px;
}
#signup a:hover {
    background-color:black;
    color:white;
}

#signup input[type='submit']:hover, #signup input[type='button']:hover {
    background-color: black;
    color:white;
}